<a href="https://colab.research.google.com/github/mishra-amit-300266/ML-Engineer-Roadmap/blob/main/Python_Practice/Day4_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
t = (1,2,3,4,5)
for i in t:
  print(i, end = " ")

1 2 3 4 5

In [3]:
#t[0] = 2
#getting error as tuple is immutable

In [4]:
t1 = (1,2,3,4)
t2 = (5,6,7)
t3 = t1+t2
print(t3)

(1, 2, 3, 4, 5, 6, 7)

In [9]:
s = {1,2,3}
s.remove(1)
print(s)

{2, 3}

In [10]:
s1 = {1,2,3,4}
s2 = {3,1,5}
print(s1.union(s2))
print(s1.intersection(s2))

{1, 2, 3, 4, 5}
{1, 3}

In [16]:
di = {
    "0":"a",
    "1":"b",
    "2":"c"
      }
print(di)

{'0': 'a', '1': 'b', '2': 'c'}

In [17]:
di["1"] = "d"
di["3"] = "e"
print(di)

{'0': 'a', '1': 'd', '2': 'c', '3': 'e'}

In [18]:
di.pop("0")
print(di)

{'1': 'd', '2': 'c', '3': 'e'}

In [20]:
for key,value in di.items():
  print(f"{key} -> {value}")

1 -> d
2 -> c
3 -> e